repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
    - id: check-added-large-files
      args: ['--maxkb=100']
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
    - id: black
      args: ['--line-length=88']

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
    - id: flake8
      args: [
          '--max-line-length=88',
          '--select=E,F,W,C90,B,I',
          '--ignore=E203,W503,W605 ',
          '--import-order-style=pycharm',
          '--application-import-names=tripy, test'
      ]
      additional_dependencies: [
          flake8-bugbear,
          flake8-tidy-imports,
          flake8-import-order
      ]
